<?xml version="1.0" encoding="utf-8"?>
<androidx.constraintlayout.widget.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".MainActivity">

    <EditText
        android:id="@+id/ptName"
        android:layout_width="207dp"
        android:layout_height="51dp"
        android:ems="10"
        android:inputType="textPersonName"
        android:text="Ievadi vārdu"
        app:layout_constraintBottom_toBottomOf="parent"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintHorizontal_bias="0.529"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toTopOf="parent"
        app:layout_constraintVertical_bias="0.183" />

    <Button
        android:id="@+id/btnConfirm"
        android:layout_width="139dp"
        android:layout_height="44dp"
        android:layout_marginTop="120dp"
        android:text="Apstiprināt"
        app:layout_constraintEnd_toEndOf="@+id/ptCity"
        app:layout_constraintStart_toStartOf="@+id/ptCity"
        app:layout_constraintTop_toBottomOf="@+id/ptCity" />

    <EditText
        android:id="@+id/ptCity"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginTop="84dp"
        android:ems="10"
        android:inputType="textPersonName"
        android:text="Ievadi pilsētu"
        app:layout_constraintStart_toStartOf="@+id/ptName"
        app:layout_constraintTop_toBottomOf="@+id/ptName" />

</androidx.constraintlayout.widget.ConstraintLayout>